.footer {
    background-image: linear-gradient(to right top, #313131, #3b3b3b, #454545, #4f4f4f, #5a5a5a, #5a5a5a, #5a5a5a, #5a5a5a, #4f4f4f, #454545, #3b3b3b, #313131);;
}

.instagram i:hover {
    color: #C13584
}

.facebook i:hover {
    color: #2f55a4
}

.youtube i:hover {
    color: #c4302b
}

.spotify i:hover {
    color: #1DB954
}

